.header{

    width: 100%;
    background-color: $color-white;
    height: 60px;
    text-align: center;
    padding-top: 25px;
    box-shadow: -15px 10px 25px 5px rgba(146, 104, 104, 0.04);
    margin-bottom: 120px;

    &__menu{

        cursor: pointer;
        position: absolute;
        right: 3%;
        z-index: 5;
        top: 27px;

        span{

            display: block;
            height: 2px;
            width: 25px;
            background-color: red;
            margin-bottom: 5px;
            cursor: pointer;
    
        }

        &-bar-2{

            width: 35px !important;
           
        
        }
    }
    
    &__close{

        position: absolute;
        background-color: white;
        width: 30px;
        height: 30px;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
        top: 15px;
        right: 20px;
        z-index: 5;

        &-text{

            display: inline-block;
            position: relative;
            font-size: 20px;
            margin-top: 2px;
            cursor: pointer;
        }
    }
    &__brand,&__primary-nav,&__secondary-nav{

        float: left;
    }

    &__brand{

        width: 20%;
        text-align: right;

        &--link{

            text-decoration: none;
            display: inline-block;
            top: -25px;
            position: relative;

            &-logo{

                width: 85px;
                border: solid 3px $color-white
            }
        }
    }

    &__primary-nav{

        width: 55%;
        text-align: left;
        padding-left: 2%;

       

        &--nav{

            width: 100%;

            @include responsive(phone){

                background-color: $color-primary;
                position: absolute;
                top: 0;
                left: 0;
                padding-top: 5rem;
                height: 100vh;
                z-index: 3;
                opacity: 0;
                animation: appear .5s ease-in;
                animation-fill-mode: forwards;
            }

            &-link{

                margin-right: 2%;
                font-size: 1.5rem;
                display: inline-block;
                text-decoration: none;
                color: $color-black;
                transition: all .7s ease-in;

                @include responsive(phone){

                    display: block;
                    margin-bottom: 3rem;
                    font-size: 2rem;
                    text-align: center;


                  }

                &::after{

                    content: '';
                    width: 8px;
                    height: 8px;
                    background-color: transparent;
                    border-radius: 50%;
                    display: inline-block;          
                    position: relative;
                    margin-top: 4px;
                    visibility: hidden;
                    transition: all .7s ease-in;
                   
                }

                &:hover{

                    &::after{
                   
                    background-color: #ffcc00;
                    margin-left: 5px;
                    visibility: visible;
                    animation: fade .4s ease-in;
                    animation-fill-mode: backwards;
                }
            }

            }

           
            // &:hover{

            //     width: 8px;
            //     height: 8px;
            //     background-color: #ffcc00;
            //     margin-right: 15px;
            //     border-radius: 50%;
            //     display: inline-block;

            // }
        }

        
    }

    &__secondary-nav{

        width: 25%;
        text-align: left;

        @include responsive(phone){

        float: none;
        position: absolute;
        right: 15%;
        width: 50%;
        text-align: right;

        }

        @include responsive(phone){

         
            right: 20%;
           
    
            }


        &--nav{

            width: 100%;

            &-link{

                width: 30%;
                color: $color-black;
               

                &-circle,&-text{
                    display: inline-block;
                    vertical-align: top;
                    
                }
                
                &-circle{

                    
                    width: 15px;
                    height: 15px;
                    background-color: #ffcc00;
                    margin-right: 15px;
                    border-radius: 50%;
                    margin-top: 3px;
                }
                &-text{
                    
                    font-size: 1.8rem;
                    opacity: .5;
                  
                }

                &:hover &-text{

                    &-text{
                        opacity: 1;
                        transition: all .5s ease-in;
                    }
                    &-circle{
                        
                        transform: rotate((360deg));
                        transition: all .5s ease-in;
                    }
                   

                    
                }

                
            }
        }
    }
}


@keyframes fade {
    0% {
       
        opacity: 0;
    }
    50% {
       
        opacity: .5;
    }
    100% {
       
        opacity: 1
    }
}


@keyframes appear {

	2% {
	  opacity: .2
	}
    10%{
        opacity: .3
      }
    20% {
        opacity: .7
    }
    
	100% {
        opacity: 1
	}
}