/*


	The dimensions of the breakpoints we have chosen are:

	Phones: <= 600px,
	Tablets: <= 900px,
	Tablets(landscape): <= 1200px
	desktop(big): >= 1800px

	NOTE: Our responsive mixin will be passed two value types, namely; The breakpoint category and
	the responsive styles of the selector where the mixin is called[The styles are accessed via the @content sass directive].

*/
/*=====================================================================

		iOCO COLOR NAMES:

		$color-primary: #D2B48C; // YELLOW
		$color-grey: #999; // DARK GREY
		$color-light-grey: #CCC; // LIGHT GREY
		$color-black: #000; // BLACK
		$color-white: #FFF; // WHITE
	



======================================================================*/
/*========== THEMETIC COLOR VARIABLES [Start]==========================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Libre+Franklin:wght@500&family=Roboto&family=Turret+Road:wght@200;300&display=swap");
/* Below, Create a basic reset of the browser applied styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* ========================================================================================================

	The html element below will be used to set a root font-size for the project. This base font-size will
	be used as the base for all the measurements we are going to set on the page. This powerfull technique
	will make it easier for us to modify and mantain the code since we are only going to have a single place
	where we make a change and automatically any related code. To enable users the chance to modify our styles,
	we are going to use percentage values-a really recommended practice.
	
   =======================================================================================================*/
html {
  font-size: 62.5%; }

/* Below, Create a project wide font-definitions */
body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  max-width: 1800px;
  margin: 0 auto;
  background-color: #f2f1f1; }

.clearfix {
  content: "";
  display: 'table';
  clear: both; }

.footer {
  width: 100%;
  position: relative; }
  .footer__clipped {
    height: 100vh;
    background-color: #444662;
    position: relative; }
    @media only screen and (max-width: 900px) {
      .footer__clipped {
        height: 60vh; } }
    .footer__clipped--content {
      font-size: 10rem;
      color: #dee3ea;
      padding-left: 5%;
      margin-top: 3rem; }
      @media only screen and (max-width: 900px) {
        .footer__clipped--content {
          font-size: 4rem; } }
      .footer__clipped--content-heart {
        font-size: 2rem;
        margin-top: 4rem; }
        .footer__clipped--content-heart-text-1, .footer__clipped--content-heart-text-2 {
          display: inline-block; }
    .footer__clipped--overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      height: 100vh;
      background-color: #ffcc00;
      top: 0;
      clip-path: polygon(33% 68%, 100% 0%, 99% 100%, 0% 100%); }
      @media only screen and (max-width: 900px) {
        .footer__clipped--overlay {
          height: 60vh; } }
  .footer__company {
    width: 100%;
    background-color: #212046;
    height: 400px;
    color: white;
    padding-top: 5rem; }
  .footer__tool {
    display: inline-block;
    width: 20%; }
  .footer__brand {
    width: 35% !important;
    text-align: initial; }
    .footer__brand--logo {
      display: block;
      width: 250px;
      margin-bottom: 1rem; }
    .footer__brand--text {
      display: block;
      font-size: 1.5rem;
      text-decoration: underline;
      color: white;
      margin-left: 5%; }
  .footer__contact--title {
    font-size: 1.5rem;
    margin-bottom: 2rem; }
  .footer__contact--link {
    display: block;
    color: white;
    font-size: 1.2rem; }
  .footer__business--title {
    font-size: 1.5rem;
    margin-bottom: 2rem; }
  .footer__business--link {
    display: block;
    color: white;
    font-size: 1.2rem;
    width: 50px; }
  .footer__social--link {
    display: inline-block;
    font-size: 1.2rem; }
  .footer__sitemap {
    background-color: #0d0f0f;
    height: 400px;
    padding-top: 5rem; }
    .footer__sitemap--i {
      float: left;
      width: 19%; }
      .footer__sitemap--i-nav-link {
        display: block;
        color: white;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
        text-decoration: underline; }
  .footer__copyright {
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem; }
    .footer__copyright span {
      display: inline-block;
      margin-right: 1.5rem; }
  .footer__menu {
    cursor: pointer;
    position: absolute;
    right: 3%;
    z-index: 5;
    top: 27px; }
    .footer__menu span {
      display: block;
      height: 2px;
      width: 25px;
      background-color: red;
      margin-bottom: 5px;
      cursor: pointer; }
    .footer__menu-bar-2 {
      width: 35px !important; }
  .footer__close {
    position: absolute;
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    top: 15px;
    right: 20px;
    z-index: 5; }
    .footer__close-text {
      display: inline-block;
      position: relative;
      font-size: 20px;
      margin-top: 2px;
      cursor: pointer; }
  .footer__brand, .footer__primary-nav, .footer__secondary-nav {
    float: left; }
  .footer__brand {
    width: 20%;
    text-align: right; }
    .footer__brand--link {
      text-decoration: none;
      display: inline-block;
      top: -25px;
      position: relative; }
      .footer__brand--link-logo {
        width: 85px;
        border: solid 3px #FFF; }
  .footer__primary-nav {
    width: 55%;
    text-align: left;
    padding-left: 2%; }
    .footer__primary-nav--nav {
      width: 100%; }
      @media only screen and (max-width: 600px) {
        .footer__primary-nav--nav {
          background-color: #ffcc00;
          position: absolute;
          top: 0;
          left: 0;
          padding-top: 5rem;
          height: 100vh;
          z-index: 3;
          opacity: 0;
          animation: appear .5s ease-in;
          animation-fill-mode: forwards; } }
      .footer__primary-nav--nav-link {
        margin-right: 2%;
        font-size: 1.5rem;
        display: inline-block;
        text-decoration: none;
        color: #000;
        transition: all .7s ease-in; }
        @media only screen and (max-width: 600px) {
          .footer__primary-nav--nav-link {
            display: block;
            margin-bottom: 3rem;
            font-size: 2rem;
            text-align: center; } }
        .footer__primary-nav--nav-link::after {
          content: '';
          width: 8px;
          height: 8px;
          background-color: transparent;
          border-radius: 50%;
          display: inline-block;
          position: relative;
          margin-top: 4px;
          visibility: hidden;
          transition: all .7s ease-in; }
        .footer__primary-nav--nav-link:hover::after {
          background-color: #ffcc00;
          margin-left: 5px;
          visibility: visible;
          animation: fade .4s ease-in;
          animation-fill-mode: backwards; }
  .footer__secondary-nav {
    width: 25%;
    text-align: left; }
    @media only screen and (max-width: 600px) {
      .footer__secondary-nav {
        float: none;
        position: absolute;
        right: 15%;
        width: 50%;
        text-align: right; } }
    @media only screen and (max-width: 600px) {
      .footer__secondary-nav {
        right: 20%; } }
    .footer__secondary-nav--nav {
      width: 100%; }
      .footer__secondary-nav--nav-link {
        width: 30%;
        color: #000; }
        .footer__secondary-nav--nav-link-circle, .footer__secondary-nav--nav-link-text {
          display: inline-block;
          vertical-align: top; }
        .footer__secondary-nav--nav-link-circle {
          width: 15px;
          height: 15px;
          background-color: #ffcc00;
          margin-right: 15px;
          border-radius: 50%;
          margin-top: 3px; }
        .footer__secondary-nav--nav-link-text {
          font-size: 1.8rem;
          opacity: .5; }
        .footer__secondary-nav--nav-link:hover .footer__secondary-nav--nav-link-text-text {
          opacity: 1;
          transition: all .5s ease-in; }
        .footer__secondary-nav--nav-link:hover .footer__secondary-nav--nav-link-text-circle {
          transform: rotate(360deg);
          transition: all .5s ease-in; }

@keyframes fade {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@keyframes appear {
  2% {
    opacity: .2; }
  10% {
    opacity: .3; }
  20% {
    opacity: .7; }
  100% {
    opacity: 1; } }

.heart {
  position: relative;
  width: 100px;
  height: 90px;
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem; }

.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%; }

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%; }

.header {
  width: 100%;
  background-color: #FFF;
  height: 60px;
  text-align: center;
  padding-top: 25px;
  box-shadow: -15px 10px 25px 5px rgba(146, 104, 104, 0.04);
  margin-bottom: 120px; }
  .header__menu {
    cursor: pointer;
    position: absolute;
    right: 3%;
    z-index: 5;
    top: 27px; }
    .header__menu span {
      display: block;
      height: 2px;
      width: 25px;
      background-color: red;
      margin-bottom: 5px;
      cursor: pointer; }
    .header__menu-bar-2 {
      width: 35px !important; }
  .header__close {
    position: absolute;
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    top: 15px;
    right: 20px;
    z-index: 5; }
    .header__close-text {
      display: inline-block;
      position: relative;
      font-size: 20px;
      margin-top: 2px;
      cursor: pointer; }
  .header__brand, .header__primary-nav, .header__secondary-nav {
    float: left; }
  .header__brand {
    width: 20%;
    text-align: right; }
    .header__brand--link {
      text-decoration: none;
      display: inline-block;
      top: -25px;
      position: relative; }
      .header__brand--link-logo {
        width: 85px;
        border: solid 3px #FFF; }
  .header__primary-nav {
    width: 55%;
    text-align: left;
    padding-left: 2%; }
    .header__primary-nav--nav {
      width: 100%; }
      @media only screen and (max-width: 600px) {
        .header__primary-nav--nav {
          background-color: #ffcc00;
          position: absolute;
          top: 0;
          left: 0;
          padding-top: 5rem;
          height: 100vh;
          z-index: 3;
          opacity: 0;
          animation: appear .5s ease-in;
          animation-fill-mode: forwards; } }
      .header__primary-nav--nav-link {
        margin-right: 2%;
        font-size: 1.5rem;
        display: inline-block;
        text-decoration: none;
        color: #000;
        transition: all .7s ease-in; }
        @media only screen and (max-width: 600px) {
          .header__primary-nav--nav-link {
            display: block;
            margin-bottom: 3rem;
            font-size: 2rem;
            text-align: center; } }
        .header__primary-nav--nav-link::after {
          content: '';
          width: 8px;
          height: 8px;
          background-color: transparent;
          border-radius: 50%;
          display: inline-block;
          position: relative;
          margin-top: 4px;
          visibility: hidden;
          transition: all .7s ease-in; }
        .header__primary-nav--nav-link:hover::after {
          background-color: #ffcc00;
          margin-left: 5px;
          visibility: visible;
          animation: fade .4s ease-in;
          animation-fill-mode: backwards; }
  .header__secondary-nav {
    width: 25%;
    text-align: left; }
    @media only screen and (max-width: 600px) {
      .header__secondary-nav {
        float: none;
        position: absolute;
        right: 15%;
        width: 50%;
        text-align: right; } }
    @media only screen and (max-width: 600px) {
      .header__secondary-nav {
        right: 20%; } }
    .header__secondary-nav--nav {
      width: 100%; }
      .header__secondary-nav--nav-link {
        width: 30%;
        color: #000; }
        .header__secondary-nav--nav-link-circle, .header__secondary-nav--nav-link-text {
          display: inline-block;
          vertical-align: top; }
        .header__secondary-nav--nav-link-circle {
          width: 15px;
          height: 15px;
          background-color: #ffcc00;
          margin-right: 15px;
          border-radius: 50%;
          margin-top: 3px; }
        .header__secondary-nav--nav-link-text {
          font-size: 1.8rem;
          opacity: .5; }
        .header__secondary-nav--nav-link:hover .header__secondary-nav--nav-link-text-text {
          opacity: 1;
          transition: all .5s ease-in; }
        .header__secondary-nav--nav-link:hover .header__secondary-nav--nav-link-text-circle {
          transform: rotate(360deg);
          transition: all .5s ease-in; }

@keyframes fade {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@keyframes appear {
  2% {
    opacity: .2; }
  10% {
    opacity: .3; }
  20% {
    opacity: .7; }
  100% {
    opacity: 1; } }

.carousel {
  height: 700px;
  text-align: center;
  margin: 0 auto;
  padding: 2%;
  width: 100%; }
  .carousel__title {
    position: absolute;
    left: 25%;
    font-size: 18px; }
    @media only screen and (max-width: 900px) {
      .carousel__title {
        left: 18%; } }
    @media only screen and (max-width: 768px) {
      .carousel__title {
        left: 10%; } }
    @media only screen and (max-width: 540px) {
      .carousel__title {
        left: 50%;
        transform: translateX(-50%);
        top: 120px; } }
    .carousel__title--top-text, .carousel__title--bottom-text {
      display: block; }
    .carousel__title--bottom-text {
      font-weight: normal; }
  .carousel__item {
    width: 200px !important;
    height: 210px;
    box-shadow: -15px 10px 25px 5px rgba(11, 10, 10, 0.1);
    border-radius: 15px;
    margin-top: 50px;
    transition: all 1s ease-in-out; }
    @media only screen and (max-width: 1200px) {
      .carousel__item {
        width: 150px !important; } }
    @media only screen and (max-width: 900px) {
      .carousel__item {
        width: 200px !important; } }
    @media only screen and (max-width: 768px) {
      .carousel__item {
        width: 150px !important; } }
    .carousel__item--fig {
      width: 200px;
      height: 150px;
      background-color: #ffcc00;
      clip-path: polygon(0 0, 100% 1%, 100% 100%, 1% 89%);
      border-top-right-radius: 15px;
      border-top-left-radius: 15px; }
      @media only screen and (max-width: 1200px) {
        .carousel__item--fig {
          width: 150px !important; } }
      @media only screen and (max-width: 900px) {
        .carousel__item--fig {
          width: 200px !important; } }
      @media only screen and (max-width: 768px) {
        .carousel__item--fig {
          width: 150px !important; } }
      .carousel__item--fig-img {
        height: 120px;
        width: 200px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px; }
        @media only screen and (max-width: 1200px) {
          .carousel__item--fig-img {
            width: 150px !important; } }
        @media only screen and (max-width: 900px) {
          .carousel__item--fig-img {
            width: 200px !important; } }
        @media only screen and (max-width: 768px) {
          .carousel__item--fig-img {
            width: 150px !important; } }
    .carousel__item--content-head {
      text-align: center;
      font-weight: normal;
      font-size: 1.5rem;
      margin-top: 30px; }
  .carousel__item-num_1 {
    left: 10%; }
  .carousel__item-num_2 {
    left: 30%; }
  .carousel__item-num_4 {
    z-index: 2; }
  .carousel__item-num_5 {
    left: 80%;
    z-index: 1; }

@keyframes fade {
  0% {
    top: 0;
    opacity: 1; }
  100% {
    top: -1em;
    opacity: 0; } }

@keyframes fadeIn {
  0% {
    opacity: .5; }
  20% {
    opacity: .6; }
  40% {
    opacity: .8; }
  90% {
    opacity: .9; }
  100% {
    opacity: 1; } }

@keyframes anim1 {
  10% {
    transform: translateX(-25%); }
  20% {
    transform: translateX(-22%); }
  40% {
    transform: translateX(-20%); }
  90% {
    transform: translateX(-18%); }
  100% {
    transform: translateX(-15%); } }

@keyframes anim2 {
  10% {
    transform: translateX(95%); }
  20% {
    transform: translateX(75%); }
  40% {
    transform: translateX(45%); }
  100% {
    transform: translateX(-15%); } }

@keyframes anim3 {
  10% {
    transform: translateX(-55%); }
  20% {
    transform: translateX(-53%); }
  40% {
    transform: translateX(-51%); }
  100% {
    transform: translateX(-50%); } }

@keyframes scalr {
  2% {
    transform: scale(0.8); }
  10% {
    transform: scale(0.85); }
  40% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

@keyframes appear {
  2% {
    opacity: .2; }
  10% {
    opacity: .3; }
  20% {
    opacity: .7; }
  100% {
    opacity: 1; } }

.slick-next::before, .slick-prev::before {
  color: #000; }

.slick-prev {
  left: 43%;
  transform: translateX(-50%);
  top: 90%;
  color: black; }
  @media only screen and (max-width: 900px) {
    .slick-prev {
      left: 38%; } }
  @media only screen and (max-width: 600px) {
    .slick-prev {
      left: 33%; } }
  @media only screen and (max-width: 540px) {
    .slick-prev {
      top: 80%; } }
  @media only screen and (max-width: 450px) {
    .slick-prev {
      left: 28%; } }
  @media only screen and (max-width: 360px) {
    .slick-prev {
      left: 23%; } }

.slick-next {
  right: 40%;
  transform: translateX(-50%);
  top: 90%;
  color: black; }
  @media only screen and (max-width: 900px) {
    .slick-next {
      right: 35%; } }
  @media only screen and (max-width: 600px) {
    .slick-next {
      right: 30%; } }
  @media only screen and (max-width: 540px) {
    .slick-next {
      top: 80%; } }
  @media only screen and (max-width: 450px) {
    .slick-next {
      right: 25%; } }
  @media only screen and (max-width: 360px) {
    .slick-next {
      right: 20%; } }

.slick-current {
  position: relative; }
  .slick-current div div {
    left: 50%;
    width: 250px !important;
    height: 350px;
    margin-top: -30px;
    z-index: 3; }
    @media only screen and (max-width: 1200px) {
      .slick-current div div {
        width: 180px !important; } }
    @media only screen and (max-width: 900px) {
      .slick-current div div {
        width: 250px !important; } }
    @media only screen and (max-width: 768px) {
      .slick-current div div {
        width: 180px !important; } }
    @media only screen and (max-width: 540px) {
      .slick-current div div {
        width: 300px !important;
        height: 300px; } }
    @media only screen and (max-width: 360px) {
      .slick-current div div {
        width: 250px !important; } }
    .slick-current div div figure {
      width: 250px;
      height: 180px; }
      @media only screen and (max-width: 1200px) {
        .slick-current div div figure {
          width: 180px !important; } }
      @media only screen and (max-width: 900px) {
        .slick-current div div figure {
          width: 250px !important; } }
      @media only screen and (max-width: 768px) {
        .slick-current div div figure {
          width: 180px !important; } }
      @media only screen and (max-width: 540px) {
        .slick-current div div figure {
          width: 300px !important; } }
      @media only screen and (max-width: 360px) {
        .slick-current div div figure {
          width: 250px !important; } }
      .slick-current div div figure img {
        height: 150px;
        width: 250px; }
        @media only screen and (max-width: 1200px) {
          .slick-current div div figure img {
            width: 180px !important; } }
        @media only screen and (max-width: 900px) {
          .slick-current div div figure img {
            width: 250px !important; } }
        @media only screen and (max-width: 768px) {
          .slick-current div div figure img {
            width: 180px !important; } }
        @media only screen and (max-width: 540px) {
          .slick-current div div figure img {
            width: 300px !important; } }
        @media only screen and (max-width: 360px) {
          .slick-current div div figure img {
            width: 250px !important; } }
    .slick-current div div div h4 {
      text-align: center;
      font-weight: normal;
      font-size: 1.8rem;
      margin-top: 50px; }
    .slick-current div div section {
      background-color: #111110;
      width: 100%;
      position: relative;
      bottom: 0;
      position: absolute;
      padding: 2rem;
      border-radius: 2px 0 0 15px; }
      @media only screen and (max-width: 1200px) {
        .slick-current div div section {
          width: 180px !important; } }
      @media only screen and (max-width: 900px) {
        .slick-current div div section {
          width: 250px !important; } }
      @media only screen and (max-width: 768px) {
        .slick-current div div section {
          width: 180px !important; } }
      @media only screen and (max-width: 540px) {
        .slick-current div div section {
          width: 300px !important; } }
      @media only screen and (max-width: 360px) {
        .slick-current div div section {
          width: 250px !important; } }
      .slick-current div div section button {
        border: none;
        background-color: transparent;
        color: #FFF;
        text-align: center;
        display: inline-block;
        cursor: pointer; }
        .slick-current div div section button::after {
          content: ''; }

.slider-height {
  height: 400px; }

.slick-dots {
  bottom: 25px; }
  @media only screen and (max-width: 540px) {
    .slick-dots {
      bottom: 65px; } }

.slick-dots.slick-thumb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: -1; }

.slick-dots.slick-thumb li {
  width: 6px;
  height: 6px;
  margin: 0 3px;
  border-radius: 999px;
  transition: all 0.5s ease-in-out;
  will-change: width;
  background-color: black; }

.slick-dots.slick-thumb li.slick-active {
  background-color: red;
  width: 24px; }

.ioco__carousel-item {
  transition: all 1.5s ease-in-out; }
  .ioco__carousel-item--pik {
    display: block; }
    @media only screen and (max-width: 1200px) {
      .ioco__carousel-item--pik {
        width: 900px; } }
    @media only screen and (max-width: 900px) {
      .ioco__carousel-item--pik {
        width: 800px; } }
    @media only screen and (max-width: 800px) {
      .ioco__carousel-item--pik {
        width: 600px; } }
    @media only screen and (max-width: 600px) {
      .ioco__carousel-item--pik {
        width: 540px; } }
    @media only screen and (max-width: 540px) {
      .ioco__carousel-item--pik {
        width: 450px; } }
    @media only screen and (max-width: 450px) {
      .ioco__carousel-item--pik {
        width: 300px; } }

@keyframes fadeIn {
  0% {
    opacity: .5; }
  20% {
    opacity: .6; }
  40% {
    opacity: .8; }
  90% {
    opacity: .9; }
  100% {
    opacity: 1; } }

@keyframes scalr {
  2% {
    transform: scale(0.8); }
  10% {
    transform: scale(0.85); }
  40% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

@keyframes appear {
  2% {
    opacity: .2; }
  10% {
    opacity: .3; }
  20% {
    opacity: .7; }
  100% {
    opacity: 1; } }
