@mixin clearfix{
	
	content: "";
	display: table;
	clear: both;


}




// The Following Mixin(immediately after this comment) will be used for the responsive design aspect of our simple
// project. The mixin will act like some sort of function, where it will be included for every part of our website
// we want to make responsive. For our responsive design; we have chosen four categories of breakpoints that will cover:
// Phones, Tablets in portrait mode, Tablets in landscape mode, and finally Desktop(where our normal styles occur first).
// The responsive design approach used for this project is considered advanced and highly effective


/*


	The dimensions of the breakpoints we have chosen are:

	Phones: <= 600px,
	Tablets: <= 900px,
	Tablets(landscape): <= 1200px
	desktop(big): >= 1800px

	NOTE: Our responsive mixin will be passed two value types, namely; The breakpoint category and
	the responsive styles of the selector where the mixin is called[The styles are accessed via the @content sass directive].

*/

@mixin responsive($breakpoint){
	
	

	@if($breakpoint == tiny-phone){

		@media only screen and (max-width:360px){ @content }


	}

	@if($breakpoint == small-phone){

			@media only screen and (max-width:450px){ @content }


	}
	@if($breakpoint == medium-phone){

		@media only screen and (max-width:540px){ @content }


	}

	@if($breakpoint == phone){

			@media only screen and (max-width:600px){ @content }


	} 

	@if($breakpoint == tablet-port-small){

		@media only screen and (max-width:768px){ @content }


	}

	@if($breakpoint == tablet-port-medium){

		@media only screen and (max-width:800px){ @content }


	}


	@if($breakpoint == tablet-portrait){

			@media only screen and (max-width:900px){ @content }


	}

	@if($breakpoint == tablet-landscape){

			@media only screen and (max-width:1200px){ @content }

	}


	
	@if($breakpoint == big-desktop){

			@media only screen and (min-width:1800px){ @content }


	}





}
