


/*=====================================================================

		iOCO COLOR NAMES:

		$color-primary: #D2B48C; // YELLOW
		$color-grey: #999; // DARK GREY
		$color-light-grey: #CCC; // LIGHT GREY
		$color-black: #000; // BLACK
		$color-white: #FFF; // WHITE
	



======================================================================*/







/*========== THEMETIC COLOR VARIABLES [Start]==========================*/

$color-primary:#ffcc00;
//$color-secondary:  #cc3333;
$color-grey: #999;
$color-light-grey: #CCC;
$color-black: #000; 
$color-white: #FFF;



